body {
	font-family: "Open Sans" , sans-serif;
}

/*CSS Reset*/
* {	
	margin: 0;
	padding: 5;
	box-sizing: border-box;
 }

 nav{
 	padding: 0.8rem;
 	margin-bottom: 2rem;
 	border-bottom: 1px solid gray;
 	list-style-type: none;
 }

 nav .nav, nav .nav-logo {
 	margin: .5rem;
 	display: inline;
 }

 #intro{

 	padding: 2rem 10% 3rem;
 	/*padding: 2rem 10% 3rem;*/
 	text-align: center;
 }

.header{
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold ;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding: 1rem;
}

#succeed-info{
	padding: 2rem 10% 3rem;

}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	border: 1px solid black;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5 rem;
}

footer {
	padding: 0.7rem;

}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	color: white;
	background-color: #33438E;
	padding: 1rem;
 }

#pre-footer div{
	display: inline-block;
	width: 20%; 
	/* added for vertical space for each words */
	line-height: 30px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


